body{
  background-color:#FFE3D2;
}

body::-webkit-scrollbar {
  display: none;
}

button{
  cursor: pointer;
}
textarea{
  border-radius:5px;  
  font-family: "gmarket";
}
.logoBackGround{
  background-color:#FEBE98;
}
.gesiContent{
  margin:2vh 0 0 5vw;
  width:47vw;
  height: 80vh;
  resize: none;
  border:0;
  background-color:#ffe3d2;
  padding: 20px;
}

.regiTopImg{
  background-image: url("../img/img/boardmain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  text-align: center;
  position: relative;
}
.regiTopImg span{
  position : inherit;
  top:25%;
  font-size:5vw;
  font-weight: bold;
}
.BeforePage{
  margin-left:7%;
}
.regi{
  font-size:3vw;
  font-weight: bold;
  text-align: center;
}

form{
  position: relative;
  padding-top: 9vh;
}

.writeBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left:555px; */
  border-radius: 50px;
  border: 0px;
  box-shadow: 0px 2px 6px #ffb638;
  width: 15vw;
  height: 9.5vh;
  background-color: #ffd07f;
  font-size:23px;
  font-weight: bold;
  /* margin-left:1290px; */

  position: absolute;
  top: 0;
  right: 8vw;
}
.writeBtn span{
  padding-left:20px;
}
.writeBtn img{
  width:50px;
  height:55px;
}
 
.registBox {
  display: flex;
  justify-content: center;
  width: 85vw;
  height: 90vh;
  box-shadow: 0px 3px 5px #ff893e;
  background-color: #FEBE98;
  margin: 2vh 0 5vh 7vw;
  padding: 2vh 0;
}

.registTitle{
  font-size: 25px;
  font-weight: bold;
  margin: 30px 0 50px;
}
.titleName{
  width:300px;
  height: 45px;
  border:0;
  resize:none;
  background-color: #ffe3d2;
  font-size:16px;
  padding:10px;
}

.click_Img{
  width:320px;
  height:306px;
  border-radius:30px;
  border:1px solid #000;
  cursor: pointer;
  border:0;
}

#toggleImage{
  
  background-color:#fff;
}