*{
  padding:0px;
  margin:0px;
}
a{
  color:#000;
  text-decoration: none;
}
.logoBackGround{
  text-align:center;
  background-color:#FEBE98;
}
.logoBackGround img{
  width: 230px;
  height: 155px;
  padding-left:20px;
}
.Login{
  position: absolute;
  top:4%;
  right:4%;
}