/* 메인 사진 윗 부분 css */

#sort{
  font-family: 'kopub';
  font-weight: 700;
  position: relative;
  top:235px;
  left: 490px;
  font-size: 20px;
  color: #999999;
}
#title{
  font-family: 'kopub';
  font-weight: 900;
  position: relative;
  top:240px;
  left: 490px;
  font-size: 40px;
}
#mainimg{
  position: absolute;
  top:400px;
  left: 480px;
  width: 924px;
  height: 572px;
}
#user{
  position: relative;
  top:250px;
  left: 490px;
  width:800px;

}
#username{
  position: absolute;
  /* top:10px;  */
  font-family: 'sans';
  font-weight: 900;
  font-size: 25px;
  padding-left: 10px;
}
#eye{
  position: relative;
  top: 230px;
  left: 1320px;
}
#eyenum{
  font-family: 'sans';
  font-weight: 900;
  color: #999999;
  position:relative;
  top: 199px;
  left: 1360px;
  width:150px;
}

/* 메인 사진 옆 사이드 바 css */

#cell{
  position:fixed;
  top:400px;
  left: 1450px;
  border: 0px solid black;
  border-radius: 20px;
  background-color: #E6E6E6;
  width: 304px;
  height: auto;
  max-height: 941px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  overflow: auto;
}
#cell > span {
  font-size: 30px;
  font-family: 'kopub';
  font-weight: 900;
}
#cell > p {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  font-family: 'kopub';
  font-weight: 900;
  padding-left: 10px; 
}
.aside{
  position: fixed;
  width: 300px;
  top: 300px;
  left: 1450px;
}
#asideicon1{
  padding-left: 80px;
}
#asideicon2{
  padding-left: 50px;
}

/* 메인 사진 아랫부분 */
.allicon{
  display: flex;
  position: relative;
  top: 910px;
  padding-left: 1110px;
  padding-bottom: 15px;
  }
  .allicon img{
    width:40px;
  }
  .allicon2{
    padding-left: 770px;
  }
.selecticon{
  padding-left: 15px;
  
}
#selecticon2{
  padding-top: 3px;
}

#selecticon3{
  padding-left: 3px;
}
.selecticon span{
  font-family: 'sans';
  font-weight: 900;
  font-size: 15px;
  color: #999999;
}
#line1{
  position: relative;
  top: 850px;
  width:924px;
  left: 480px;
}

/* 선 부분 */

#descript{
  font-family: 'kopub';
  font-weight: 900px;
  position:relative;
  top: 830px;
  right: 450px;
  font-size: 50px;  
}

/* 레시피 설명문 그리드 css*/

.containerwap{
  padding: 920px 480px 0px 480px;  
}

.gridcontainer{
  display: grid;
  grid-template-columns: 400px 90.5px 433.5px ;
  grid-template-rows: repeat(2, 50px 350px) ;
}
/* script 전체 적용 css */
.script{
  font-family: 'kopub';
  font-weight: 900;
  font-size: 30px;
}
/* script 부분 적용 css */
.script2{
  grid-column-start: 2;
  
}
.script3{
  font-family: 'kopub';
  font-weight: 900;
padding-top: 15px;
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 20px;
  border-top: 1px solid #b8b8b8;
}
.script4{
  grid-column-start: 3;
  justify-self: end; 
}
.script5{
  grid-row-start: 3;
  align-content: end;
}
.script6{
  font-family: 'kopub';
  font-weight: 900;
padding-top: 15px;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 20px;
  border-top: 1px solid #b8b8b8;
}

/* 댓글 및 평점 기능 */

/* 전체 평점 */
#total{
  display: flex;
  flex-wrap: nowrap;
  padding-top: 30px;
  margin-left: 480px;
  width: 924px;
  height: 90px;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
}
.totalimg{ 
  position: relative;
  top:0px;
  padding-left: 150px;
  padding-right: 30px;

}
.totalnumber{
  font-family: 'sans';
  font-weight: 900;
  font-size: 40px;
}
.totalnumber1{  
  padding-left: 80px;
}
.totalnumber2{
  color:#4d4d4d
}

/* 댓글 */
#comentcontainer{
  margin: 30px 480px;
  width:924px;
  border-bottom: 1px solid #b8b8b8;
}
.comentbox{
  padding-left: 80px;
  margin-bottom: 50px;
}
.coment{
  height: 50px;
  width:670px;
  display: flex;
}
.comentimg{
  width:40px;
  height: 40px;
}
.comentnickname{
  font-family: 'sans';
  font-weight: 900;
  font-size: 20px;
  padding-left: 15px;
}
.allstar{
  padding-top: 5px;
  padding-left: 10px;
}
.allstar span{
  color: #4d4d4d;
  padding-left: 15px;
  font-family: 'sans';
  font-weight: 700;
  font-size: 15px;
}
.comentstar{
  width:20px;
  height:20px;
}
.comenttext{
  font-family: 'sans';
  font-weight: 900;
  font-size: 16px;
  padding-left: 60px;
}
.comentbox hr{
  height: 1px;
  background-color: #4d4d4d;
  margin-left: 57px;
  margin-top: 15px;
}

/* 댓글 작성 */
#reviewcontainer{
  margin-left: 565px;
  margin-bottom: 100px;
}
#review{
  font-family: 'sans';
  font-weight: 900;
  font-size: 30px;
}
#starcontainer{
  padding: 10px 5px 10px 0px;
}
.countingstar{
  width:30px;
  height: 30px;
}
#areasize{
  padding: 20px;
  width:750px;
  height: 150px;
  font-family: 'sans';
  font-weight: 900;
  font-size: 15px;
}
#resist{
  margin-left: 550px;
  background-color: #003320;
  border: 1px solid #003320;
  border-radius: 10px;
  width:80px;
  height: 30px;
  font-family: 'kopub';
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
#resist:hover{
  background-color: #570000;
  border: #570000;
}